<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%
        if(htmlWebpackPlugin.options.env === 'production' && htmlWebpackPlugin.options.CDN && htmlWebpackPlugin.options.CDN.css){
        var cssList = htmlWebpackPlugin.options.CDN.css || []
        cssList.forEach(cssPath => {
    %>

    <link rel="stylesheet" href="<%= cssPath %>" />
    <%
        });

        }
    %>
</head>

<body>
    <div id="app"></div>

    <%
        if(htmlWebpackPlugin.options.env === 'production' && htmlWebpackPlugin.options.CDN && htmlWebpackPlugin.options.CDN.js){
        var jsList = htmlWebpackPlugin.options.CDN.js || []
        jsList.forEach(jsPath => {
    %>
    <script type="text/javascript" src="<%= jsPath %>"></script>
    <%
        });

        }
    %>
</body>

</html>